/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Mar-2016, 14:51:45
    Author     : vanaer00
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    text-align: center;
    background-color: white;
    margin :0;
    
}

#main { background: #eee }

#static {     
    width:100%;
    z-index:2;
    height:50px;
    position: fixed;  
    margin : 0;
    padding : 0;
}

#header {
    height: 50px;
    background: green;
    width : 100%;
    text-align: left;
    font-size:16px;
    color: white;  
    position: fixed;
}

h4  {
    color: blue;
    text-align: right;
    font-size: 0.75rem;
    padding-right: 5px;
}

p {
    color: black;
    display: inline;
    font-size: 14px;   
}

#loading
{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:1000;
}
  
#loadingcontent
{
    display:table;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#loadingspinner
{
    display: table-cell;
    vertical-align:middle;
    width: 100%;
    text-align: center;
    font-size:larger;
    padding-top:80px;
}

ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
}

li {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px
}

h1 {
    display: block;
    font-size: 18px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    
}

h2 {
    display: block;
    font-size: 16px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    
}

th {
    background-color: green;
    color: white;
    font-size: 14px;   
}

table.center {
    margin-left: auto;
    margin-right: auto; 
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #555;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}

.u-form-group input[type="text"],
.u-form-group input[type="Password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

.u-form-group input[type="submit"]{
  width:50%;
  background-color: #1CB94E;
  border:none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}

.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}

.buttonHolder{ text-align: center; }

.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
