/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Mar-2016, 14:51:45
    Author     : vanaer00
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    text-align: center;
    background-color: appworkspace;
    margin :0;
    
}

#main { background: #eee }

#static {     
    width:100%;
    z-index:2;
    height:50px;
    position: fixed;  
    margin : 0;
    padding : 0;
}

#header {
    height: 50px;
    background: black;
    width : 100%;
    text-align: right;
    font-size:14px;
    color: white;
}

#footer {
    height: 60px;
    clear: left;
    background: #aaa;
}

#loading
{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:1000;
}
  
#loadingcontent
{
    display:table;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#loadingspinner
{
    display: table-cell;
    vertical-align:middle;
    width: 100%;
    text-align: center;
    font-size:larger;
    padding-top:80px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#li {
    float: right;
}

#li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    
}

#li a:hover {
    background-color: #111;
}
